yml/AI_Chatflow_Minimal_Dify.yml
kind: app
version: 0.6.0
app:
  name: AI_Chat_Companion_Minimal
  mode: advanced-chat
  description: Minimal Dify import smoke test
  icon: robot
  icon_background: '#FFEAD5'
  icon_type: emoji
  use_icon_as_answer_icon: false
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - id: edge-start-llm
      source: node-start
      sourceHandle: source
      target: node-llm
      targetHandle: target
      type: custom
      zIndex: 0
    - id: edge-llm-answer
      source: node-llm
      sourceHandle: source
      target: node-answer
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: User Input
        type: start
        variables:
        - default: ''
          hint: ''
          label: Input Text
          max_length: 1000
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: user_input
      height: 100
      id: node-start
      position:
        x: 80
        y: 260
      positionAbsolute:
        x: 80
        y: 260
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.4
          mode: chat
          name: llama-3.1-8b-instant
          provider: langgenius/groq/groq
        prompt_template:
        - role: system
          text: |
            你是一個溫和、簡潔的中文助手。
            請先簡短理解使用者的需求，再給出清楚回覆。
        - role: user
          text: "{{#node-start.user_input#}}"
        selected: false
        structured_output_enabled: false
        title: Main Reply
        type: llm
      height: 100
      id: node-llm
      position:
        x: 420
        y: 260
      positionAbsolute:
        x: 420
        y: 260
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#node-llm.text#}}'
        selected: false
        title: Final Answer
        type: answer
        variables: []
      height: 88
      id: node-answer
      position:
        x: 760
        y: 260
      positionAbsolute:
        x: 760
        y: 260
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 0
      y: 0
      zoom: 1
  rag_pipeline_variables: []
