AI_Chatflow.yml
kind: app
version: 0.6.0
app:
  name: AI_Chat_Companion
  mode: advanced-chat
  description: AI companion chatflow for triage and support
  icon: robot
  icon_background: '#FFEAD5'
  icon_type: emoji
  use_icon_as_answer_icon: false
workflow:
  conversation_variables:
  - id: 9ee62824-d46d-41f7-816f-a18142dbabec
    name: pending_question
    description: Store the latest clarification question so the next turn can answer it
    selector:
    - conversation
    - pending_question
    value: ''
    value_type: string
  environment_variables: []
  features:
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - id: edge-start-gate
      source: node-start
      sourceHandle: source
      target: node-gate
      targetHandle: target
      type: custom
      zIndex: 0
    - id: edge-gate-true-followup
      source: node-gate
      sourceHandle: true
      target: node-llm-followup
      targetHandle: target
      type: custom
      zIndex: 0
    - id: edge-gate-false-classifier
      source: node-gate
      sourceHandle: false
      target: node-classifier
      targetHandle: target
      type: custom
      zIndex: 0
    - id: edge-mode-1
      source: node-classifier
      sourceHandle: mode_1_void
      target: node-llm-void
      targetHandle: target
      type: custom
      zIndex: 0
    - id: edge-mode-2
      source: node-classifier
      sourceHandle: mode_2_soulmate
      target: node-llm-soulmate
      targetHandle: target
      type: custom
      zIndex: 0
    - id: edge-mode-3
      source: node-classifier
      sourceHandle: mode_3_mission
      target: node-retrieval-mission
      targetHandle: target
      type: custom
      zIndex: 0
    - id: edge-mode-4
      source: node-classifier
      sourceHandle: mode_4_option
      target: node-retrieval-option
      targetHandle: target
      type: custom
      zIndex: 0
    - id: edge-mode-5
      source: node-classifier
      sourceHandle: mode_5_natural
      target: node-retrieval-natural
      targetHandle: target
      type: custom
      zIndex: 0
    - id: edge-mode-6
      source: node-classifier
      sourceHandle: mode_6_clarify
      target: node-llm-clarify
      targetHandle: target
      type: custom
      zIndex: 0
    - id: edge-retrieval-mission
      source: node-retrieval-mission
      sourceHandle: source
      target: node-llm-mission
      targetHandle: target
      type: custom
      zIndex: 0
    - id: edge-retrieval-option
      source: node-retrieval-option
      sourceHandle: source
      target: node-llm-option
      targetHandle: target
      type: custom
      zIndex: 0
    - id: edge-retrieval-natural
      source: node-retrieval-natural
      sourceHandle: source
      target: node-llm-natural
      targetHandle: target
      type: custom
      zIndex: 0
    - id: edge-followup-assign
      source: node-llm-followup
      sourceHandle: source
      target: node-assign-clear-pending
      targetHandle: target
      type: custom
      zIndex: 0
    - id: edge-clarify-assign
      source: node-llm-clarify
      sourceHandle: source
      target: node-assign-set-pending
      targetHandle: target
      type: custom
      zIndex: 0
    - id: edge-void-answer
      source: node-llm-void
      sourceHandle: source
      target: node-answer-void
      targetHandle: target
      type: custom
      zIndex: 0
    - id: edge-soulmate-answer
      source: node-llm-soulmate
      sourceHandle: source
      target: node-answer-soulmate
      targetHandle: target
      type: custom
      zIndex: 0
    - id: edge-mission-answer
      source: node-llm-mission
      sourceHandle: source
      target: node-answer-mission
      targetHandle: target
      type: custom
      zIndex: 0
    - id: edge-option-answer
      source: node-llm-option
      sourceHandle: source
      target: node-answer-option
      targetHandle: target
      type: custom
      zIndex: 0
    - id: edge-natural-answer
      source: node-llm-natural
      sourceHandle: source
      target: node-answer-natural
      targetHandle: target
      type: custom
      zIndex: 0
    - id: edge-followup-answer
      source: node-assign-clear-pending
      sourceHandle: source
      target: node-answer-followup
      targetHandle: target
      type: custom
      zIndex: 0
    - id: edge-clarify-answer
      source: node-assign-set-pending
      sourceHandle: source
      target: node-answer-clarify
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: User Input
        type: start
        variables:
        - default: ''
          hint: ''
          label: Input Text
          max_length: 1000
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: user_input
      height: 100
      id: node-start
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: pending_not_empty
          conditions:
          - comparison_operator: is not empty
            variable_selector:
            - conversation
            - pending_question
        selected: false
        title: Follow-up Gate
        type: if-else
      height: 140
      id: node-gate
      position:
        x: 366
        y: 282
      positionAbsolute:
        x: 366
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - node-retrieval-mission
          - result
        model:
          completion_params:
            temperature: 0.6
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - role: system
          text: |
            你是任務導向的引導助手。
            目標是把問題整理成可執行的步驟。
            規則：
            1. 先回應使用者的核心目標。
            2. 若知識庫有內容，優先使用知識庫內容。
            3. 輸出要清楚、分段、可行。
        - role: user
          text: "{{#node-start.user_input#}}"
        selected: false
        structured_output_enabled: false
        title: Mission Guide
        type: llm
      height: 100
      id: node-llm-mission
      position:
        x: 1230
        y: 220
      positionAbsolute:
        x: 1230
        y: 220
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - node-retrieval-option
          - result
        model:
          completion_params:
            temperature: 0.4
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - role: system
          text: |
            你是選項比較助手。
            目標是把候選方案整理成可比較、可決策的輸出。
            規則：
            1. 先列出每個選項的優缺點。
            2. 若知識庫有內容，優先使用知識庫內容。
            3. 不要冗長，輸出要能直接幫人做選擇。
        - role: user
          text: "{{#node-start.user_input#}}"
        selected: false
        structured_output_enabled: false
        title: Option Selector
        type: llm
      height: 100
      id: node-llm-option
      position:
        x: 1230
        y: 420
      positionAbsolute:
        x: 1230
        y: 420
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - node-retrieval-natural
          - result
        model:
          completion_params:
            temperature: 0.5
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - role: system
          text: |
            你是一個自然、溫暖、像真人的朋友。
            你的任務是一般陪伴與自然對話。
            規則：
            1. 語氣自然，不要像客服。
            2. 如果使用者有負面情緒，先共感，不要直接轉成閒聊。
            3. 如果知識庫有內容，再用知識庫補充。
        - role: user
          text: "{{#node-start.user_input#}}"
        selected: false
        structured_output_enabled: false
        title: Smart Hunter
        type: llm
      height: 100
      id: node-llm-natural
      position:
        x: 1230
        y: 620
      positionAbsolute:
        x: 1230
        y: 620
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.5
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - role: system
          text: |
            你正在處理上一輪留下的補問。
            已知補問內容：{{#conversation.pending_question#}}
            請根據使用者本輪回答，直接完成上一輪對話。
            如果資訊仍不足，只再提出一個最小補問，不要連續追問。
        - role: user
          text: "{{#node-start.user_input#}}"
        selected: false
        structured_output_enabled: false
        title: Follow-up Resolver
        type: llm
      height: 100
      id: node-llm-followup
      position:
        x: 650
        y: 100
      positionAbsolute:
        x: 650
        y: 100
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - role: system
          text: |
            你要先補一個最關鍵的問題。
            規則：
            1. 只問一個問題。
            2. 問題要短。
            3. 問題要能直接幫助下一輪回答。
        - role: user
          text: "{{#node-start.user_input#}}"
        selected: false
        structured_output_enabled: false
        title: Clarify Question
        type: llm
      height: 100
      id: node-llm-clarify
      position:
        x: 1230
        y: 820
      positionAbsolute:
        x: 1230
        y: 820
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - role: system
          text: |
            你要處理沒有內容或無法辨識的輸入。
            請用一句簡短提醒，請使用者輸入更完整的問題。
        - role: user
          text: "{{#node-start.user_input#}}"
        selected: false
        structured_output_enabled: false
        title: Void Box
        type: llm
      height: 100
      id: node-llm-void
      position:
        x: 950
        y: 20
      positionAbsolute:
        x: 950
        y: 20
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.5
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - role: system
          text: |
            你是一個溫暖、像真人的朋友。
            規則：
            1. 先接住情緒，再回應。
            2. 不要像客服，不要像問卷。
            3. 回覆要自然、短一點。
        - role: user
          text: "{{#node-start.user_input#}}"
        selected: false
        structured_output_enabled: false
        title: Soul Mate
        type: llm
      height: 100
      id: node-llm-soulmate
      position:
        x: 950
        y: 180
      positionAbsolute:
        x: 950
        y: 180
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - node-retrieval-mission
          - result
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - role: system
          text: |
            你是意圖分類器。
            請只輸出最符合的一個類別代號，不要解釋。
            類別：
            1. mode_1_void: 空白、測試、無意義輸入
            2. mode_2_soulmate: 需要陪伴、共感、情緒支持
            3. mode_3_mission: 任務、步驟、流程、要完成一件事
            4. mode_4_option: 需要比較、選擇、方案判斷
            5. mode_5_natural: 一般自然對話、日常聊天、延續話題
            6. mode_6_clarify: 資訊不足，需要先補一個關鍵問題
        - role: user
          text: "{{#node-start.user_input#}}"
        selected: false
        title: Intent Classifier
        type: question-classifier
      height: 450
      id: node-classifier
      position:
        x: 650
        y: 320
      positionAbsolute:
        x: 650
        y: 320
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - JB1PuOSPlWXMsgVAkT5B4u/hSkfNYLAS+G+Zmysp3Fhot7pSACV7KyX378KBhRU7
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - node-start
        - user_input
        retrieval_mode: multiple
        selected: false
        title: Knowledge Retrieval
        type: knowledge-retrieval
      height: 90
      id: node-retrieval-mission
      position:
        x: 950
        y: 250
      positionAbsolute:
        x: 950
        y: 250
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - JB1PuOSPlWXMsgVAkT5B4u/hSkfNYLAS+G+Zmysp3Fhot7pSACV7KyX378KBhRU7
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - node-start
        - user_input
        retrieval_mode: multiple
        selected: false
        title: Knowledge Retrieval
        type: knowledge-retrieval
      height: 90
      id: node-retrieval-option
      position:
        x: 950
        y: 450
      positionAbsolute:
        x: 950
        y: 450
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - JB1PuOSPlWXMsgVAkT5B4u/hSkfNYLAS+G+Zmysp3Fhot7pSACV7KyX378KBhRU7
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - node-start
        - user_input
        retrieval_mode: multiple
        selected: false
        title: Knowledge Retrieval
        type: knowledge-retrieval
      height: 90
      id: node-retrieval-natural
      position:
        x: 950
        y: 650
      positionAbsolute:
        x: 950
        y: 650
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        items:
        - input_type: constant
          operation: overwrite
          value: ''
          variable_selector:
          - conversation
          - pending_question
        selected: false
        title: Clear Pending Question
        type: assigner
        version: '2'
      height: 100
      id: node-assign-clear-pending
      position:
        x: 950
        y: 100
      positionAbsolute:
        x: 950
        y: 100
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: overwrite
          value:
          - node-llm-clarify
          - text
          variable_selector:
          - conversation
          - pending_question
        selected: false
        title: Save Pending Question
        type: assigner
        version: '2'
      height: 100
      id: node-assign-set-pending
      position:
        x: 1500
        y: 820
      positionAbsolute:
        x: 1500
        y: 820
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#node-llm-void.text#}}'
        selected: false
        title: Void Answer
        type: answer
        variables: []
      height: 88
      id: node-answer-void
      position:
        x: 1500
        y: 20
      positionAbsolute:
        x: 1500
        y: 20
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#node-llm-soulmate.text#}}'
        selected: false
        title: Soulmate Answer
        type: answer
        variables: []
      height: 88
      id: node-answer-soulmate
      position:
        x: 1500
        y: 180
      positionAbsolute:
        x: 1500
        y: 180
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#node-llm-mission.text#}}'
        selected: false
        title: Mission Answer
        type: answer
        variables: []
      height: 88
      id: node-answer-mission
      position:
        x: 1500
        y: 250
      positionAbsolute:
        x: 1500
        y: 250
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#node-llm-option.text#}}'
        selected: false
        title: Option Answer
        type: answer
        variables: []
      height: 88
      id: node-answer-option
      position:
        x: 1500
        y: 450
      positionAbsolute:
        x: 1500
        y: 450
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#node-llm-natural.text#}}'
        selected: false
        title: Natural Answer
        type: answer
        variables: []
      height: 88
      id: node-answer-natural
      position:
        x: 1500
        y: 650
      positionAbsolute:
        x: 1500
        y: 650
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#node-llm-followup.text#}}'
        selected: false
        title: Follow-up Answer
        type: answer
        variables: []
      height: 88
      id: node-answer-followup
      position:
        x: 1230
        y: 100
      positionAbsolute:
        x: 1230
        y: 100
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#node-llm-clarify.text#}}'
        selected: false
        title: Clarify Answer
        type: answer
        variables: []
      height: 88
      id: node-answer-clarify
      position:
        x: 1770
        y: 820
      positionAbsolute:
        x: 1770
        y: 820
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 75.57539205041189
      y: 76.12328544427778
      zoom: 0.5000000000000002
  rag_pipeline_variables: []