AI_Chatflow_v2.yml
app:
  description: AI companion chatflow rebuilt from a current Dify export skeleton
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: AI_Chat_Companion_v2
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: question-classifier
      id: start-classifier
      source: start
      sourceHandle: source
      target: classifier
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: llm
      id: classifier-void
      source: classifier
      sourceHandle: mode_1_void
      target: llm-void
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: llm
      id: classifier-soulmate
      source: classifier
      sourceHandle: mode_2_soulmate
      target: llm-soulmate
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: classifier-mission-retrieval
      source: classifier
      sourceHandle: mode_3_mission
      target: retrieval-mission
      targetHandle: target
      type: custom
    - data:
        sourceType: knowledge-retrieval
        targetType: llm
      id: retrieval-mission-llm
      source: retrieval-mission
      sourceHandle: source
      target: llm-mission
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: classifier-option-retrieval
      source: classifier
      sourceHandle: mode_4_option
      target: retrieval-option
      targetHandle: target
      type: custom
    - data:
        sourceType: knowledge-retrieval
        targetType: llm
      id: retrieval-option-llm
      source: retrieval-option
      sourceHandle: source
      target: llm-option
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: llm
      id: classifier-natural
      source: classifier
      sourceHandle: mode_5_natural
      target: llm-natural
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: llm
      id: classifier-clarify
      source: classifier
      sourceHandle: mode_6_clarify
      target: llm-clarify
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: void-answer
      source: llm-void
      sourceHandle: source
      target: answer-void
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: soulmate-answer
      source: llm-soulmate
      sourceHandle: source
      target: answer-soulmate
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: mission-answer
      source: llm-mission
      sourceHandle: source
      target: answer-mission
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: option-answer
      source: llm-option
      sourceHandle: source
      target: answer-option
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: natural-answer
      source: llm-natural
      sourceHandle: source
      target: answer-natural
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: clarify-answer
      source: llm-clarify
      sourceHandle: source
      target: answer-clarify
      targetHandle: target
      type: custom
    nodes:
    - data:
        title: Start
        type: start
        variables: []
      id: start
      position:
        x: 80
        y: 420
      positionAbsolute:
        x: 80
        y: 420
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        classes:
        - id: mode_1_void
          name: Void Box
        - id: mode_2_soulmate
          name: Soul Mate
        - id: mode_3_mission
          name: Mission Guide
        - id: mode_4_option
          name: Option Selector
        - id: mode_5_natural
          name: Smart Hunter
        - id: mode_6_clarify
          name: Clarify
        instruction: |
          Classify the user's latest message into exactly one mode.
          mode_1_void: empty, test, or no meaningful content.
          mode_2_soulmate: wants empathy, companionship, or emotional support.
          mode_3_mission: wants visit preparation, structured review, or guided collection.
          mode_4_option: low-energy, indecisive, or needs concise choices.
          mode_5_natural: ordinary conversation or gentle follow-up without structured guidance.
          mode_6_clarify: intent is understandable but one critical detail is missing before a useful answer.
          Output only the best matching class.
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: ''
          provider: ''
        query_variable_selector:
        - sys
        - query
        title: Intent Classifier
        type: question-classifier
      id: classifier
      position:
        x: 360
        y: 300
      positionAbsolute:
        x: 360
        y: 300
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.2
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - role: system
          text: |
            You are Void Box for an AI companion.
            Reply very briefly.
            Do not ask questions.
            Just acknowledge and hold space.
        title: Void Box
        type: llm
        vision:
          enabled: false
      id: llm-void
      position:
        x: 700
        y: 20
      positionAbsolute:
        x: 700
        y: 20
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.6
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - role: system
          text: |
            You are Soul Mate for an AI companion.
            Be warm, human, and emotionally supportive.
            Do not diagnose.
            Do not turn the conversation into a questionnaire.
            Keep the response gentle and concise.
        title: Soul Mate
        type: llm
        vision:
          enabled: false
      id: llm-soulmate
      position:
        x: 700
        y: 180
      positionAbsolute:
        x: 700
        y: 180
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        dataset_ids:
        - JB1PuOSPlWXMsgVAkT5B4u/hSkfNYLAS+G+Zmysp3Fhot7pSACV7KyX378KBhRU7
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - sys
        - query
        retrieval_mode: multiple
        title: Mission Retrieval
        type: knowledge-retrieval
      id: retrieval-mission
      position:
        x: 700
        y: 340
      positionAbsolute:
        x: 700
        y: 340
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        context:
          enabled: true
          variable_selector:
          - retrieval-mission
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.4
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - role: system
          text: |
            You are Mission Guide for an AI companion.
            Help the user prepare for a visit in a structured but gentle way.
            Use retrieved context when relevant.
            Move forward one important dimension at a time.
            Keep the answer clear and not overwhelming.
        title: Mission Guide
        type: llm
        vision:
          enabled: false
      id: llm-mission
      position:
        x: 1020
        y: 340
      positionAbsolute:
        x: 1020
        y: 340
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        dataset_ids:
        - JB1PuOSPlWXMsgVAkT5B4u/hSkfNYLAS+G+Zmysp3Fhot7pSACV7KyX378KBhRU7
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          top_k: 2
        query_attachment_selector: []
        query_variable_selector:
        - sys
        - query
        retrieval_mode: multiple
        title: Option Retrieval
        type: knowledge-retrieval
      id: retrieval-option
      position:
        x: 700
        y: 520
      positionAbsolute:
        x: 700
        y: 520
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        context:
          enabled: true
          variable_selector:
          - retrieval-option
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.3
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - role: system
          text: |
            You are Option Selector for an AI companion.
            Reply with one short empathy sentence and exactly three options.
            Label them A, B, and C.
            Keep them concrete, easy to choose, and low cognitive load.
            Use retrieved context only when it improves the options.
        title: Option Selector
        type: llm
        vision:
          enabled: false
      id: llm-option
      position:
        x: 1020
        y: 520
      positionAbsolute:
        x: 1020
        y: 520
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - role: system
          text: |
            You are Smart Hunter for an AI companion.
            Keep the tone natural and warm.
            Do not sound clinical.
            If a gentle follow-up would help, ask at most one small question.
            Otherwise continue the conversation naturally.
        title: Smart Hunter
        type: llm
        vision:
          enabled: false
      id: llm-natural
      position:
        x: 700
        y: 700
      positionAbsolute:
        x: 700
        y: 700
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.2
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - role: system
          text: |
            Ask exactly one short clarifying question.
            Only ask for the single most important missing detail.
            Do not ask multiple questions.
        title: Clarify
        type: llm
        vision:
          enabled: false
      id: llm-clarify
      position:
        x: 700
        y: 880
      positionAbsolute:
        x: 700
        y: 880
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        answer: '{{#llm-void.text#}}'
        title: Void Answer
        type: answer
        variables: []
      id: answer-void
      position:
        x: 1340
        y: 20
      positionAbsolute:
        x: 1340
        y: 20
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        answer: '{{#llm-soulmate.text#}}'
        title: Soulmate Answer
        type: answer
        variables: []
      id: answer-soulmate
      position:
        x: 1340
        y: 180
      positionAbsolute:
        x: 1340
        y: 180
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        answer: '{{#llm-mission.text#}}'
        title: Mission Answer
        type: answer
        variables: []
      id: answer-mission
      position:
        x: 1340
        y: 340
      positionAbsolute:
        x: 1340
        y: 340
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        answer: '{{#llm-option.text#}}'
        title: Option Answer
        type: answer
        variables: []
      id: answer-option
      position:
        x: 1340
        y: 520
      positionAbsolute:
        x: 1340
        y: 520
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        answer: '{{#llm-natural.text#}}'
        title: Natural Answer
        type: answer
        variables: []
      id: answer-natural
      position:
        x: 1340
        y: 700
      positionAbsolute:
        x: 1340
        y: 700
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        answer: '{{#llm-clarify.text#}}'
        title: Clarify Answer
        type: answer
        variables: []
      id: answer-clarify
      position:
        x: 1340
        y: 880
      positionAbsolute:
        x: 1340
        y: 880
      sourcePosition: right
      targetPosition: left
      type: custom
    viewport:
      x: 0
      y: 0
      zoom: 0.65
  rag_pipeline_variables: []
