廢棄之Dify聊天流/AI_Chat_Companion_Clean_Core.yml
app:
  description: Clean core workflow rebuilt from the latest export without
    retrieval, follow-up, or FHIR branches.
  icon: robot
  icon_background: "#FFEAD5"
  icon_type: emoji
  mode: advanced-chat
  name: AI_Chat_Companion_Clean_Core
  use_icon_as_answer_icon: false
dependencies:
  - current_identifier: null
    type: marketplace
    value:
      marketplace_plugin_unique_identifier: langgenius/groq:0.0.13@40bd415a13ff29ed4718de161fba152b4d829da43ced05222c1397514482c08f
      version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables:
    - description: Store the latest clarification question so the next turn can answer it
      id: pending-question-var
      name: pending_question
      selector:
        - conversation
        - pending_question
      value: none
      value_type: string
    - description: Whether the latest user turn hit a red flag path
      id: risk-flag-var
      name: risk_flag
      selector:
        - conversation
        - risk_flag
      value: "false"
      value_type: string
    - description: Structured JSON-like summary for the latest detected red flag
      id: red-flag-payload-var
      name: red_flag_payload
      selector:
        - conversation
        - red_flag_payload
      value: none
      value_type: string
    - description: Number of consecutive clarification turns in the current follow-up chain
      id: followup-turn-count-var
      name: followup_turn_count
      selector:
        - conversation
        - followup_turn_count
      value: "0"
      value_type: string
    - description: Current follow-up lifecycle state
      id: followup-status-var
      name: followup_status
      selector:
        - conversation
        - followup_status
      value: none
      value_type: string
    - description: Last resolved routing mode for the current turn
      id: active-mode-var
      name: active_mode
      selector:
        - conversation
        - active_mode
      value: auto
      value_type: string
    - description: Structured tag output for the latest normal user turn
      id: latest-tag-payload-var
      name: latest_tag_payload
      selector:
        - conversation
        - latest_tag_payload
      value: none
      value_type: string
    - description: Structured HAM-D progress snapshot for mission mode
      id: hamd-progress-state-var
      name: hamd_progress_state
      selector:
        - conversation
        - hamd_progress_state
      value: none
      value_type: string
    - description: Persisted manual routing mode override; auto means automatic routing
      id: routing-mode-override-var
      name: routing_mode_override
      selector:
        - conversation
        - routing_mode_override
      value: auto
      value_type: string
    - description: Short confirmation text for command-mode switches
      id: command-feedback-var
      name: command_feedback
      selector:
        - conversation
        - command_feedback
      value: none
      value_type: string
    - description: Retrieval governance snapshot for mission mode knowledge usage
      id: mission-retrieval-audit-var
      name: mission_retrieval_audit
      selector:
        - conversation
        - mission_retrieval_audit
      value: none
      value_type: string
    - description: Structured burden and response-style state for cognitive load aware
        routing and replies
      id: burden-level-state-var
      name: burden_level_state
      selector:
        - conversation
        - burden_level_state
      value: none
      value_type: string
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
        - .JPG
        - .JPEG
        - .PNG
        - .GIF
        - .WEBP
        - .SVG
      allowed_file_types:
        - image
      allowed_file_upload_methods:
        - local_file
        - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
          - local_file
          - remote_url
      number_limits: 3
    opening_statement: ""
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ""
      voice: ""
  graph:
    edges:
      - data:
          sourceType: start
          targetType: question-classifier
        id: start-command-detector
        source: start
        sourceHandle: source
        target: command-detector
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          sourceType: question-classifier
          targetType: assigner
        id: command-auto-set
        source: command-detector
        sourceHandle: cmd_auto
        target: set-command-auto
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          sourceType: question-classifier
          targetType: assigner
        id: command-void-set
        source: command-detector
        sourceHandle: cmd_void
        target: set-command-void
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          sourceType: question-classifier
          targetType: assigner
        id: command-soulmate-set
        source: command-detector
        sourceHandle: cmd_soulmate
        target: set-command-soulmate
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          sourceType: question-classifier
          targetType: assigner
        id: command-mission-set
        source: command-detector
        sourceHandle: cmd_mission
        target: set-command-mission
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          sourceType: question-classifier
          targetType: assigner
        id: command-option-set
        source: command-detector
        sourceHandle: cmd_option
        target: set-command-option
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          sourceType: question-classifier
          targetType: assigner
        id: command-natural-set
        source: command-detector
        sourceHandle: cmd_natural
        target: set-command-natural
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          sourceType: question-classifier
          targetType: assigner
        id: command-clarify-set
        source: command-detector
        sourceHandle: cmd_clarify
        target: set-command-clarify
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          sourceType: question-classifier
          targetType: question-classifier
        id: command-none-risk
        source: command-detector
        sourceHandle: cmd_none
        target: risk-detector
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          sourceType: assigner
          targetType: answer
        id: answer-command-auto
        source: set-command-auto
        sourceHandle: source
        target: answer-command
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          sourceType: assigner
          targetType: answer
        id: answer-command-void
        source: set-command-void
        sourceHandle: source
        target: answer-command
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          sourceType: assigner
          targetType: answer
        id: answer-command-soulmate
        source: set-command-soulmate
        sourceHandle: source
        target: answer-command
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          sourceType: assigner
          targetType: answer
        id: answer-command-mission
        source: set-command-mission
        sourceHandle: source
        target: answer-command
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          sourceType: assigner
          targetType: answer
        id: answer-command-option
        source: set-command-option
        sourceHandle: source
        target: answer-command
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          sourceType: assigner
          targetType: answer
        id: answer-command-natural
        source: set-command-natural
        sourceHandle: source
        target: answer-command
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          sourceType: assigner
          targetType: answer
        id: answer-command-clarify
        source: set-command-clarify
        sourceHandle: source
        target: answer-command
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          sourceType: question-classifier
          targetType: llm
        id: risk-red-structurer
        source: risk-detector
        sourceHandle: red_flag
        target: risk-structurer
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          sourceType: llm
          targetType: assigner
        id: risk-structurer-set-state
        source: risk-structurer
        sourceHandle: source
        target: set-risk-state
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          sourceType: assigner
          targetType: llm
        id: risk-state-safety
        source: set-risk-state
        sourceHandle: source
        target: safety-response
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          sourceType: llm
          targetType: answer
        id: safety-answer-edge
        source: safety-response
        sourceHandle: source
        target: answer-safety
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          sourceType: question-classifier
          targetType: assigner
        id: risk-normal-clear
        source: risk-detector
        sourceHandle: normal
        target: clear-risk-state
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          sourceType: assigner
          targetType: question-classifier
        id: risk-clear-intent
        source: clear-risk-state
        sourceHandle: source
        target: classifier
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          sourceType: question-classifier
          targetType: assigner
        id: classifier-void
        source: classifier
        sourceHandle: mode_1_void
        target: set-mode-void
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          sourceType: question-classifier
          targetType: assigner
        id: classifier-soulmate
        source: classifier
        sourceHandle: mode_2_soulmate
        target: set-mode-soulmate
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          sourceType: question-classifier
          targetType: assigner
        id: classifier-mission
        source: classifier
        sourceHandle: mode_3_mission
        target: set-mode-mission
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          sourceType: question-classifier
          targetType: assigner
        id: classifier-option
        source: classifier
        sourceHandle: mode_4_option
        target: set-mode-option
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          sourceType: question-classifier
          targetType: assigner
        id: classifier-natural
        source: classifier
        sourceHandle: mode_5_natural
        target: set-mode-natural
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          sourceType: question-classifier
          targetType: assigner
        id: classifier-clarify
        source: classifier
        sourceHandle: mode_6_clarify
        target: set-mode-clarify
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          sourceType: assigner
          targetType: llm
        id: set-mode-void-llm
        source: set-mode-void
        sourceHandle: source
        target: llm-void
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          sourceType: assigner
          targetType: llm
        id: set-mode-soulmate-llm
        source: set-mode-soulmate
        sourceHandle: source
        target: llm-soulmate
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          sourceType: assigner
          targetType: llm
        id: set-mode-mission-llm
        source: set-mode-mission
        sourceHandle: source
        target: llm-mission
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          sourceType: assigner
          targetType: llm
        id: set-mode-option-llm
        source: set-mode-option
        sourceHandle: source
        target: llm-option
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          sourceType: assigner
          targetType: llm
        id: set-mode-natural-llm
        source: set-mode-natural
        sourceHandle: source
        target: llm-natural
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          sourceType: assigner
          targetType: llm
        id: set-mode-clarify-llm
        source: set-mode-clarify
        sourceHandle: source
        target: llm-clarify
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          sourceType: llm
          targetType: answer
        id: void-answer-edge
        source: llm-void
        sourceHandle: source
        target: answer-void
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          sourceType: llm
          targetType: answer
        id: soulmate-answer-edge
        source: llm-soulmate
        sourceHandle: source
        target: answer-soulmate
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          sourceType: llm
          targetType: answer
        id: mission-answer-edge
        source: llm-mission
        sourceHandle: source
        target: answer-mission
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          sourceType: llm
          targetType: answer
        id: option-answer-edge
        source: llm-option
        sourceHandle: source
        target: answer-option
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          sourceType: llm
          targetType: answer
        id: natural-answer-edge
        source: llm-natural
        sourceHandle: source
        target: answer-natural
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          sourceType: llm
          targetType: answer
        id: clarify-answer-edge
        source: llm-clarify
        sourceHandle: source
        target: answer-clarify
        targetHandle: target
        type: custom
        zIndex: 0
    nodes:
      - data:
          selected: false
          title: Start
          type: start
          variables: []
        height: 73
        id: start
        position:
          x: -1555.825223468375
          y: 264.17623228606317
        positionAbsolute:
          x: -1555.825223468375
          y: 264.17623228606317
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          classes:
            - id: cmd_auto
              name: Auto
            - id: cmd_void
              name: Void
            - id: cmd_soulmate
              name: Soulmate
            - id: cmd_mission
              name: Mission
            - id: cmd_option
              name: Option
            - id: cmd_natural
              name: Natural
            - id: cmd_clarify
              name: Clarify
            - id: cmd_none
              name: None
          instruction: >
            你要判斷使用者這一輪是否在輸入「模式切換指令」。

            只有在使用者明確是在下指令時，才輸出對應類別。

            可接受的指令例子包含：

            auto, /auto, soulmate, /soulmate, mission, /mission, option,
            /option, natural, /natural, void, /void, clarify, /clarify。

            如果只是正常對話中提到這些字，不算指令，請輸出 cmd_none。

            只輸出一個類別代號。
          instructions: ""
          model:
            completion_params:
              temperature: 0
            mode: chat
            name: llama-3.1-8b-instant
            provider: langgenius/groq/groq
          query_variable_selector:
            - sys
            - query
          selected: false
          title: Command Detector
          type: question-classifier
        height: 398
        id: command-detector
        position:
          x: -1067.244433494333
          y: 285.17623228606317
        positionAbsolute:
          x: -1067.244433494333
          y: 285.17623228606317
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          items:
            - input_type: constant
              operation: overwrite
              value: auto
              variable_selector:
                - conversation
                - routing_mode_override
            - input_type: constant
              operation: overwrite
              value: auto
              variable_selector:
                - conversation
                - active_mode
            - input_type: constant
              operation: overwrite
              value: none
              variable_selector:
                - conversation
                - pending_question
            - input_type: constant
              operation: overwrite
              value: "0"
              variable_selector:
                - conversation
                - followup_turn_count
            - input_type: constant
              operation: overwrite
              value: none
              variable_selector:
                - conversation
                - followup_status
            - input_type: constant
              operation: overwrite
              value: 已切換為自動分流模式。
              variable_selector:
                - conversation
                - command_feedback
          selected: false
          title: Set Command Auto
          type: assigner
          version: "2"
        height: 214
        id: set-command-auto
        position:
          x: -468.3527132624994
          y: -444.5462633838515
        positionAbsolute:
          x: -468.3527132624994
          y: -444.5462633838515
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          items:
            - input_type: constant
              operation: overwrite
              value: void
              variable_selector:
                - conversation
                - routing_mode_override
            - input_type: constant
              operation: overwrite
              value: void
              variable_selector:
                - conversation
                - active_mode
            - input_type: constant
              operation: overwrite
              value: none
              variable_selector:
                - conversation
                - pending_question
            - input_type: constant
              operation: overwrite
              value: "0"
              variable_selector:
                - conversation
                - followup_turn_count
            - input_type: constant
              operation: overwrite
              value: none
              variable_selector:
                - conversation
                - followup_status
            - input_type: constant
              operation: overwrite
              value: 已切換為樹洞模式。
              variable_selector:
                - conversation
                - command_feedback
          selected: false
          title: Set Command Void
          type: assigner
          version: "2"
        height: 214
        id: set-command-void
        position:
          x: -468.3527132624994
          y: -148.8970125789304
        positionAbsolute:
          x: -468.3527132624994
          y: -148.8970125789304
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          items:
            - input_type: constant
              operation: overwrite
              value: soulmate
              variable_selector:
                - conversation
                - routing_mode_override
            - input_type: constant
              operation: overwrite
              value: soulmate
              variable_selector:
                - conversation
                - active_mode
            - input_type: constant
              operation: overwrite
              value: none
              variable_selector:
                - conversation
                - pending_question
            - input_type: constant
              operation: overwrite
              value: "0"
              variable_selector:
                - conversation
                - followup_turn_count
            - input_type: constant
              operation: overwrite
              value: none
              variable_selector:
                - conversation
                - followup_status
            - input_type: constant
              operation: overwrite
              value: 已切換為靈魂伴侶模式。
              variable_selector:
                - conversation
                - command_feedback
          selected: false
          title: Set Command Soulmate
          type: assigner
          version: "2"
        height: 214
        id: set-command-soulmate
        position:
          x: -468.3527132624994
          y: 169.01896137209542
        positionAbsolute:
          x: -468.3527132624994
          y: 169.01896137209542
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          items:
            - input_type: constant
              operation: overwrite
              value: mission
              variable_selector:
                - conversation
                - routing_mode_override
            - input_type: constant
              operation: overwrite
              value: mission
              variable_selector:
                - conversation
                - active_mode
            - input_type: constant
              operation: overwrite
              value: none
              variable_selector:
                - conversation
                - pending_question
            - input_type: constant
              operation: overwrite
              value: "0"
              variable_selector:
                - conversation
                - followup_turn_count
            - input_type: constant
              operation: overwrite
              value: none
              variable_selector:
                - conversation
                - followup_status
            - input_type: constant
              operation: overwrite
              value: 已切換為任務引導模式。
              variable_selector:
                - conversation
                - command_feedback
          selected: false
          title: Set Command Mission
          type: assigner
          version: "2"
        height: 214
        id: set-command-mission
        position:
          x: -468.3527132624994
          y: 443.55786821638605
        positionAbsolute:
          x: -468.3527132624994
          y: 443.55786821638605
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          items:
            - input_type: constant
              operation: overwrite
              value: option
              variable_selector:
                - conversation
                - routing_mode_override
            - input_type: constant
              operation: overwrite
              value: option
              variable_selector:
                - conversation
                - active_mode
            - input_type: constant
              operation: overwrite
              value: none
              variable_selector:
                - conversation
                - pending_question
            - input_type: constant
              operation: overwrite
              value: "0"
              variable_selector:
                - conversation
                - followup_turn_count
            - input_type: constant
              operation: overwrite
              value: none
              variable_selector:
                - conversation
                - followup_status
            - input_type: constant
              operation: overwrite
              value: 已切換為選項模式。
              variable_selector:
                - conversation
                - command_feedback
          selected: false
          title: Set Command Option
          type: assigner
          version: "2"
        height: 214
        id: set-command-option
        position:
          x: -468.3527132624994
          y: 702.0149980907181
        positionAbsolute:
          x: -468.3527132624994
          y: 702.0149980907181
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          items:
            - input_type: constant
              operation: overwrite
              value: natural
              variable_selector:
                - conversation
                - routing_mode_override
            - input_type: constant
              operation: overwrite
              value: natural
              variable_selector:
                - conversation
                - active_mode
            - input_type: constant
              operation: overwrite
              value: none
              variable_selector:
                - conversation
                - pending_question
            - input_type: constant
              operation: overwrite
              value: "0"
              variable_selector:
                - conversation
                - followup_turn_count
            - input_type: constant
              operation: overwrite
              value: none
              variable_selector:
                - conversation
                - followup_status
            - input_type: constant
              operation: overwrite
              value: 已切換為自然聊天模式。
              variable_selector:
                - conversation
                - command_feedback
          selected: false
          title: Set Command Natural
          type: assigner
          version: "2"
        height: 214
        id: set-command-natural
        position:
          x: -468.3527132624994
          y: 945.539049350089
        positionAbsolute:
          x: -468.3527132624994
          y: 945.539049350089
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          items:
            - input_type: constant
              operation: overwrite
              value: clarify
              variable_selector:
                - conversation
                - routing_mode_override
            - input_type: constant
              operation: overwrite
              value: clarify
              variable_selector:
                - conversation
                - active_mode
            - input_type: constant
              operation: overwrite
              value: none
              variable_selector:
                - conversation
                - pending_question
            - input_type: constant
              operation: overwrite
              value: "0"
              variable_selector:
                - conversation
                - followup_turn_count
            - input_type: constant
              operation: overwrite
              value: none
              variable_selector:
                - conversation
                - followup_status
            - input_type: constant
              operation: overwrite
              value: 已切換為釐清提問模式。
              variable_selector:
                - conversation
                - command_feedback
          selected: false
          title: Set Command Clarify
          type: assigner
          version: "2"
        height: 214
        id: set-command-clarify
        position:
          x: -468.3527132624994
          y: 1171.8326252845045
        positionAbsolute:
          x: -468.3527132624994
          y: 1171.8326252845045
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          classes:
            - id: red_flag
              name: Red Flag
            - id: normal
              name: Normal
          instruction: 不論輸入內容為何，一律輸出 red_flag。只輸出 red_flag，不要解釋。
          instructions: ""
          model:
            completion_params:
              temperature: 0
            mode: chat
            name: llama-3.1-8b-instant
            provider: langgenius/groq/groq
          query_variable_selector:
            - sys
            - query
          selected: false
          title: Risk Detector
          type: question-classifier
        height: 170
        id: risk-detector
        position:
          x: -468.3527132624994
          y: 1424.2707296256303
        positionAbsolute:
          x: -468.3527132624994
          y: 1424.2707296256303
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          context:
            enabled: false
            variable_selector: []
          memory:
            query_prompt_template: |-
              {{#sys.query#}}

              {{#sys.files#}}
            role_prefix:
              assistant: ""
              user: ""
            window:
              enabled: false
              size: 10
          model:
            completion_params:
              temperature: 0
            mode: chat
            name: llama-3.1-8b-instant
            provider: langgenius/groq/groq
          prompt_template:
            - id: 70d5a239-d51f-4480-aa69-9759380cb124
              role: system
              text: |
                你要把高風險訊號整理成簡短 JSON 字串。
                欄位固定為:
                {
                  "route_type":"safety",
                  "source_mode":"safety",
                  "followup_status":"resolved",
                  "risk_level":"high",
                  "sentiment_tags":["..."],
                  "behavioral_tags":["..."],
                  "cognitive_tags":["..."],
                  "warning_tags":["..."],
                  "signals":["..."],
                  "summary":"..."
                }
                只輸出 JSON，不要多餘文字。
          selected: false
          title: Risk Structurer
          type: llm
          vision:
            enabled: false
        height: 88
        id: risk-structurer
        position:
          x: -119.66423371819383
          y: 1300.0916105313902
        positionAbsolute:
          x: -119.66423371819383
          y: 1300.0916105313902
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          items:
            - input_type: constant
              operation: overwrite
              value: "true"
              variable_selector:
                - conversation
                - risk_flag
            - input_type: variable
              operation: overwrite
              value:
                - risk-structurer
                - text
              variable_selector:
                - conversation
                - red_flag_payload
            - input_type: constant
              operation: overwrite
              value: safety
              variable_selector:
                - conversation
                - active_mode
          selected: false
          title: Set Risk State
          type: assigner
          version: "2"
        height: 188
        id: set-risk-state
        position:
          x: 187.65252795420406
          y: 1300.0916105313902
        positionAbsolute:
          x: 187.65252795420406
          y: 1300.0916105313902
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          items:
            - input_type: constant
              operation: overwrite
              value: "false"
              variable_selector:
                - conversation
                - risk_flag
            - input_type: constant
              operation: overwrite
              value: none
              variable_selector:
                - conversation
                - red_flag_payload
          selected: false
          title: Clear Risk State
          type: assigner
          version: "2"
        height: 110
        id: clear-risk-state
        position:
          x: -119.66423371819383
          y: 1573.7406689197812
        positionAbsolute:
          x: -119.66423371819383
          y: 1573.7406689197812
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          classes:
            - id: mode_1_void
              name: Void Box
            - id: mode_2_soulmate
              name: Soul Mate
            - id: mode_3_mission
              name: Mission Guide
            - id: mode_4_option
              name: Option Selector
            - id: mode_5_natural
              name: Smart Hunter
            - id: mode_6_clarify
              name: Clarify
          instruction: >
            你是意圖分類器。

            請只輸出最符合的一個類別代號，不要解釋。

            1. mode_1_void: 空白、測試、無意義輸入

            2. mode_2_soulmate: 需要陪伴、共感、情緒支持，或此刻比較需要被接住而不是被整理

            3. mode_3_mission: 明確要整理、準備回診、形成重點、完成任務，且看起來有足夠心力做較結構化整理

            4. mode_4_option: 低能量、短句、講不清楚、負擔高、選不出來、需要低負擔支架，或雖然需要整理但目前不適合直接進
            mission

            5. mode_5_natural: 一般自然對話、日常聊天、延續話題，可在自然互動中慢慢蒐集線索

            6. mode_6_clarify: 資訊不足，需要先補一個關鍵問題

            額外規則：

            - 若輸入很短、模糊、負擔高，優先考慮 mode_4_option。

            - 若情緒明顯、需要被接住，優先考慮 mode_2_soulmate。

            - 只有在使用者明確想整理、準備、列重點、形成回診摘要時，才優先考慮 mode_3_mission。

            - mode_5_natural 不是純閒聊；但如果當下病人認知負擔高，仍應降到 mode_4_option。
          instructions: ""
          model:
            completion_params:
              temperature: 0
            mode: chat
            name: llama-3.1-8b-instant
            provider: langgenius/groq/groq
          query_variable_selector:
            - sys
            - query
          selected: false
          title: Intent Classifier
          type: question-classifier
        height: 322
        id: classifier
        position:
          x: 797.3205281005842
          y: 945.539049350089
        positionAbsolute:
          x: 797.3205281005842
          y: 945.539049350089
        selected: true
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          items:
            - input_type: constant
              operation: overwrite
              value: void
              variable_selector:
                - conversation
                - active_mode
          selected: false
          title: Set Active Mode Void
          type: assigner
          version: "2"
        height: 84
        id: set-mode-void
        position:
          x: 1140.0632431152583
          y: 1062.52998545197
        positionAbsolute:
          x: 1140.0632431152583
          y: 1062.52998545197
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          items:
            - input_type: constant
              operation: overwrite
              value: soulmate
              variable_selector:
                - conversation
                - active_mode
          selected: false
          title: Set Active Mode Soulmate
          type: assigner
          version: "2"
        height: 84
        id: set-mode-soulmate
        position:
          x: 1140.0632431152583
          y: 1217.1007983345469
        positionAbsolute:
          x: 1140.0632431152583
          y: 1217.1007983345469
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          items:
            - input_type: constant
              operation: overwrite
              value: mission
              variable_selector:
                - conversation
                - active_mode
          selected: false
          title: Set Active Mode Mission
          type: assigner
          version: "2"
        height: 84
        id: set-mode-mission
        position:
          x: 1140.0632431152583
          y: 1652.5455981893404
        positionAbsolute:
          x: 1140.0632431152583
          y: 1652.5455981893404
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          items:
            - input_type: constant
              operation: overwrite
              value: option
              variable_selector:
                - conversation
                - active_mode
          selected: false
          title: Set Active Mode Option
          type: assigner
          version: "2"
        height: 84
        id: set-mode-option
        position:
          x: 1140.0632431152583
          y: 1450.6736840780925
        positionAbsolute:
          x: 1140.0632431152583
          y: 1450.6736840780925
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          items:
            - input_type: constant
              operation: overwrite
              value: natural
              variable_selector:
                - conversation
                - active_mode
          selected: false
          title: Set Active Mode Natural
          type: assigner
          version: "2"
        height: 84
        id: set-mode-natural
        position:
          x: 1140.0632431152583
          y: 1825.389386794617
        positionAbsolute:
          x: 1140.0632431152583
          y: 1825.389386794617
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          items:
            - input_type: constant
              operation: overwrite
              value: clarify
              variable_selector:
                - conversation
                - active_mode
          selected: false
          title: Set Active Mode Clarify
          type: assigner
          version: "2"
        height: 84
        id: set-mode-clarify
        position:
          x: 1140.0632431152583
          y: 1982.6938507293235
        positionAbsolute:
          x: 1140.0632431152583
          y: 1982.6938507293235
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          context:
            enabled: false
            variable_selector: []
          memory:
            query_prompt_template: |-
              {{#sys.query#}}

              {{#sys.files#}}
            role_prefix:
              assistant: ""
              user: ""
            window:
              enabled: false
              size: 10
          model:
            completion_params:
              temperature: 0
            mode: chat
            name: llama-3.1-8b-instant
            provider: langgenius/groq/groq
          prompt_template:
            - id: f73ab029-6122-48fa-b923-3003d09d1585
              role: system
              text: |
                你要處理沒有內容或無法辨識的輸入。
                請用一句簡短提醒，請使用者輸入更完整的問題。
          selected: false
          title: Void Box
          type: llm
          vision:
            enabled: false
        height: 88
        id: llm-void
        position:
          x: 2067.722066601802
          y: 945.539049350089
        positionAbsolute:
          x: 2067.722066601802
          y: 945.539049350089
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          context:
            enabled: false
            variable_selector: []
          memory:
            query_prompt_template: |-
              {{#sys.query#}}

              {{#sys.files#}}
            role_prefix:
              assistant: ""
              user: ""
            window:
              enabled: false
              size: 10
          model:
            completion_params:
              temperature: 0.5
            mode: chat
            name: llama-3.1-8b-instant
            provider: langgenius/groq/groq
          prompt_template:
            - id: bc245025-bbd7-471d-85cc-b6c133bfdd0c
              role: system
              text: |
                你是一個溫暖、像真人的朋友。
                規則：
                1. 先接住情緒，再回應。
                2. 不要像客服，不要像問卷。
                3. 回覆要自然、短一點。
          selected: false
          title: Soul Mate
          type: llm
          vision:
            enabled: false
        height: 88
        id: llm-soulmate
        position:
          x: 2061.722066601802
          y: 1126.087172024162
        positionAbsolute:
          x: 2061.722066601802
          y: 1126.087172024162
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          context:
            enabled: false
            variable_selector: []
          memory:
            query_prompt_template: |-
              {{#sys.query#}}

              {{#sys.files#}}
            role_prefix:
              assistant: ""
              user: ""
            window:
              enabled: false
              size: 10
          model:
            completion_params:
              temperature: 0.6
            mode: chat
            name: llama-3.1-8b-instant
            provider: langgenius/groq/groq
          prompt_template:
            - role: system
              text: 你是任務引導模式。把使用者目前的問題整理成 2 到 4 個清楚、可執行的下一步。使用繁體中文。
            - role: user
              text: "{{#sys.query#}}"
          selected: false
          title: Mission Guide
          type: llm
          vision:
            enabled: false
        height: 88
        id: llm-mission
        position:
          x: 4398.159204823583
          y: 1657.1710529852744
        positionAbsolute:
          x: 4398.159204823583
          y: 1657.1710529852744
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          context:
            enabled: false
            variable_selector: []
          memory:
            query_prompt_template: |-
              {{#sys.query#}}

              {{#sys.files#}}
            role_prefix:
              assistant: ""
              user: ""
            window:
              enabled: false
              size: 10
          model:
            completion_params: {}
            mode: chat
            name: llama-3.1-8b-instant
            provider: langgenius/groq/groq
          prompt_template:
            - role: system
              text: 你是選項模式。根據使用者問題提供 2 到 4 個簡短選項。每個選項一行，使用繁體中文。
            - role: user
              text: "{{#sys.query#}}"
          selected: false
          title: Option Selector
          type: llm
          vision:
            enabled: false
        height: 88
        id: llm-option
        position:
          x: 2415.6815484986455
          y: 1849.1999091203247
        positionAbsolute:
          x: 2415.6815484986455
          y: 1849.1999091203247
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          context:
            enabled: false
            variable_selector: []
          memory:
            query_prompt_template: |-
              {{#sys.query#}}

              {{#sys.files#}}
            role_prefix:
              assistant: ""
              user: ""
            window:
              enabled: false
              size: 10
          model:
            completion_params:
              temperature: 0.5
            mode: chat
            name: llama-3.1-8b-instant
            provider: langgenius/groq/groq
          prompt_template:
            - id: cceda174-6558-4c97-aa65-a668e8afd62c
              role: system
              text: |
                你是一個自然、溫暖、像真人的朋友。
                你的任務是用自然對話陪伴病人，同時低侵入地蒐集線索。
                規則：
                1. 語氣自然，不要像客服。
                2. 如果使用者有負面情緒，先共感，不要直接轉成閒聊。
                3. 如果需要追問，最多只追一個小問題。
                4. 不要使用知識庫式的說教或任務語氣。
                5. 這條路徑不是純聊天；若自然互動中出現情緒、行為、認知、睡眠等線索，要保留自然感，不要突然切成量表。
                6. 如果 `burden_level_state` 顯示 high，就減少訊息密度，優先短句與陪伴，不硬追問。
                目前負擔狀態：{{#conversation.burden_level_state#}}
          selected: false
          title: Smart Hunter
          type: llm
          vision:
            enabled: false
        height: 88
        id: llm-natural
        position:
          x: 1765.8551538354725
          y: 1988.744466148301
        positionAbsolute:
          x: 1765.8551538354725
          y: 1988.744466148301
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          context:
            enabled: false
            variable_selector: []
          memory:
            query_prompt_template: |-
              {{#sys.query#}}

              {{#sys.files#}}
            role_prefix:
              assistant: ""
              user: ""
            window:
              enabled: false
              size: 10
          model:
            completion_params:
              temperature: 0.7
            mode: chat
            name: llama-3.1-8b-instant
            provider: langgenius/groq/groq
          prompt_template:
            - id: f8fbe3d5-d0a2-44b0-bef8-59211ddf4664
              role: system
              text: |
                你要先補一個最關鍵的問題。
                規則：
                1. 只問一個問題。
                2. 問題要短。
                3. 問題要能直接幫助下一輪回答。
          selected: false
          title: Clarify Question
          type: llm
          vision:
            enabled: false
        height: 88
        id: llm-clarify
        position:
          x: 1759.8427496895072
          y: 2141.999999999997
        positionAbsolute:
          x: 1759.8427496895072
          y: 2141.999999999997
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          answer: "{{#safety-response.text#}}"
          selected: false
          title: Safety Answer
          type: answer
          variables: []
        height: 103
        id: answer-safety
        position:
          x: 2723.5985959632826
          y: 1300.0916105313902
        positionAbsolute:
          x: 2723.5985959632826
          y: 1300.0916105313902
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          answer: "{{#llm-void.text#}}"
          selected: false
          title: Void Answer
          type: answer
          variables: []
        height: 103
        id: answer-void
        position:
          x: 2713.5985959632826
          y: 945.539049350089
        positionAbsolute:
          x: 2713.5985959632826
          y: 945.539049350089
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          answer: "{{#llm-soulmate.text#}}"
          selected: false
          title: Soulmate Answer
          type: answer
          variables: []
        height: 103
        id: answer-soulmate
        position:
          x: 2723.5985959632826
          y: 1126.087172024162
        positionAbsolute:
          x: 2723.5985959632826
          y: 1126.087172024162
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          answer: "{{#llm-mission.text#}}"
          selected: false
          title: Mission Answer
          type: answer
          variables: []
        height: 103
        id: answer-mission
        position:
          x: 4985.598595963283
          y: 1657.1710529852744
        positionAbsolute:
          x: 4985.598595963283
          y: 1657.1710529852744
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          answer: "{{#llm-option.text#}}"
          selected: false
          title: Option Answer
          type: answer
          variables: []
        height: 103
        id: answer-option
        position:
          x: 2723.5985959632826
          y: 1849.1999091203247
        positionAbsolute:
          x: 2723.5985959632826
          y: 1849.1999091203247
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          answer: "{{#llm-natural.text#}}"
          selected: false
          title: Natural Answer
          type: answer
          variables: []
        height: 103
        id: answer-natural
        position:
          x: 2723.5985959632826
          y: 1988.744466148301
        positionAbsolute:
          x: 2723.5985959632826
          y: 1988.744466148301
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          answer: "{{#llm-clarify.text#}}"
          selected: false
          title: Clarify Answer
          type: answer
          variables: []
        height: 103
        id: answer-clarify
        position:
          x: 2723.5985959632826
          y: 2141.999999999997
        positionAbsolute:
          x: 2723.5985959632826
          y: 2141.999999999997
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          answer: "{{#conversation.command_feedback#}}"
          selected: false
          title: Command Answer
          type: answer
          variables: []
        height: 104
        id: answer-command
        position:
          x: 2713.5985959632826
          y: 633.7420032426162
        positionAbsolute:
          x: 2713.5985959632826
          y: 633.7420032426162
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
    viewport:
      x: 0
      y: 0
      zoom: 0.7
  rag_pipeline_variables: []
